<ul>
    <a href="/wszystkie-przepisy/1"><li><span>Wszystkie</span></li></a>
    <a href="/obiad"><li><span>Obiad</span></li></a>
    <a href="/desery"><li><span>Desery</span></li></a>
    <a href="/torty"><li><span>Torty</span></li></a>
    <a href="/dla-dzieci"><li><span>Dzieci</span></li></a>
    <a href="/dodatki"><li><span>Dodatki</span></li></a>
    <a href="/salatki"><li><span>Sałatki</span></li></a>
    <a href="/zupy"><li><span>Zupy</span></li></a>
    <a href="/przekaski"><li></i><span>Przekąski</span></li></a>
    <a href="/sniadanie"><li><span>Śniadanie</span></li></a>
</ul>