<ul>
    <a href="/all/1"><li><span>Wszystkie</span></li></a>
    <a href="/lunch"><li><span>Obiad</span></li></a>
    <a href="/desserts"><li><span>Desery</span></li></a>
    <a href="/for_kids"><li><span>Dzieci</span></li></a>
    <a href="/drinks"><li><span>Dodatki</span></li></a>
    <a href="/salads"><li><span>Sałatki</span></li></a>
    <a href="/soups"><li><span>Zupy</span></li></a>
    <a href="/snacks"><li></i><span>Przekąski</span></li></a>
    <a href="/breakfast"><li><span>Śniadanie</span></li></a>
</ul>