<footer>
    <div class="footer_text_on_the_top">
        Dalej nie możesz nic znaleźć? 🙂<br />
        Spróbuj nasze pyszne, popularne przepisy lub szybkie przepisy do 30 minut!  
    </div>
    <div id="footer-up">
        <div class="footer-up-element">
            <h4>Kategorie:</h4>
            <%- include('category'); -%>
        </div>
        <div class="footer-up-element">
            <h4>Popularne:</h4>
            <ul>
                <a href="/recipes/618e7a735e911e870b629f8b"><li>Rosół</li></a>
                <a href="/recipes/6231e3a027218bdc79eea6a7"><li>Pierogi</li></a>
                <a href="/recipes/61c8671b3f7985987fb52512"><li>Sałatka jarzynowa</li></a>
                <a href="/recipes/61a09b035f2e65703a5c38c9"><li>Jabłecznik</li></a>
                <a href="/recipes/61f585d15800ae4e03674099"><li>Naleśniki ze szpinakiem</li></a>
                <a href="/recipes/6184306c7c7de407a72c6f0e"><li>Placki ziemniaczane</li></a>
                <a href="/recipes/6246f013d4cf112a21464526"><li>Pieczone ziemniaki</li></a>
            </ul>
        </div>
        <div class="footer-up-element">
            <h4>Do 30 minut:</h4>
            <ul>
                <a href="/recipes/62115413aebed9a6731ee75e"><li>Colesław z szynką i fetą</li></a>
                <a href="/recipes/61828e1b70da6444329b0f63"><li>Salatka owocowa</li></a>
                <a href="/recipes/6210ed268c2d5ecbb43d61e1"><li>Risotto z groszkiem</li></a>
                <a href="/recipes/6197b3f78d7ac8e3cf861403"><li>Spaghetti ze szpinakiem i pomidorami</li></a>
                <a href="/recipes/623a153775c57244915bb730"><li>Gofry</li></a>
                <a href="/recipes/63d411d268dd6c5d3683410a"><li>Makaron z szynką i groszkiem</li></a>
                <a href="/recipes/6210e2d8e49429b610c4fae7"><li>Owocowe jeżyki</li></a>
            </ul>
        </div>
    </div>

    <hr />

    <div id="footer-down">
        <ul>
            <% files.map(file => { %>
                <li>
                  <a href="<%= file.url %>"><%= file.name %></a>
                </li>
              <% }) %>
              <li>
                Kontakt:
                    <a href="mailto:cookbook@caroline223.usermd.net">
                        <span class="color" >cookbook@caroline223.usermd.net</span>
                    </a>
              </li>
        </ul>
    </div>


</footer>