# Baza danych MongoDB
DB_MONGOOSE=

# Sesja Express
SESSION_SECRET=

# Google OAuth
CLIENT_ID=
CLIENT_SECRET=

# AWS S3
S3_BUCKET_NAME=
S3_BUCKET_LOCATION=
S3_BUCKET_ACCESS_KEY=
S3_SECRET_ACCESS_KEY=

# Mailchimp
MAILCHIMP_API=
LIST_ID=

# hCaptcha
HCAPTCHA_SECRET=

# Środowisko (development / production)
NODE_ENV=development

# Port serwera
PORT=3000
