<%- include('partials/header'); -%>
<%- include('partials/nav'); -%>

<div class="container-fluid-mobile">
<form id="add_new_recipe" action="/" method="POST" enctype="multipart/form-data">
    <h1>Dodaj nowy przepis:</h1>
    <% if (add.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <p><%= add %> </p>
        </div>
        <% } %>

    <div class="container-fluid">
        <div class="form_detail">
            <h3>Podstawowe informacje:</h3>
            <div class="mb-3">
                <input type="text" id="publisher" name="publisher" class="form-control" placeholder="Autor przepisu" required>
            </div>
            <div class="mb-3">
                <input type="text" name="title" class="form-control" placeholder="Nazwa przepisu" required>
            </div>
            <div class="mb-3">
                <input type="number" name="time" class="form-control" placeholder="Czas w min" required>
            </div>
            <div class="mb-3">
                <select name="category" class="form-select" required>
                    <option value="Śniadanie">Śniadanie</option>
                    <option value="Desery">Desery</option>
                    <option selected="Obiad">Obiad</option>
                    <option value="Dla dzieci">Dla dzieci</option>
                    <option value="Napoje">Napoje</option>
                    <option value="Sałatki">Sałatki</option>
                    <option value="Zupy">Zupy</option>
                    <option value="Przekąski">Przekąski</option>
                </select>
            </div>
            <div class="mb-3">
                    <input class="form-control" type="file" name="image">
            </div>
            <h3>Składniki:</h3>
            <div class="mb-3">

                <div class="ingredientList">
                    <div class="ingredientDiv mb-3">
                        <input type="text" placeholder="Składnik" class="form-control" name="ingredients" autocomplete="off" required>
                    </div>
                </div>

                <div type="button" class="btn" id="addIngredientsBtn">+ Składnik</div>
                
            </div>

            <h3>Opis przepisu:</h3>
            <div class="form-floating">
                <textarea class="form-control textarea" name="describe" required></textarea>
                <label for="textarea">Napisz kilka słów o przepisie, wskazówki itp..</label>
            </div>
            <h3>Przygotowanie:</h3>
            <div class="form-floating">
                <textarea class="form-control textarea" name="preparation" required></textarea>
                <label for="textarea">Opisz w punktach jak wykonać przepis..</label>
            </div>
        </div>
        
    </div>
      
    <button type="submit" class="btn" name="publish" id="add_submit">Dodaj przepis</button>
</form>
</div>


<footer>Created by Karolina Kotwica <i class="far fa-heart"></i> <a class="icon" href="mailto:karolinakotwica93@gmail.com"><i class="far fa-envelope"></i></a></footer>

<%- include('partials/footer'); -%>