<%- include('partials/header'); -%>
<title>Zniżki i rabaty - Cookbook</title>
</head>
<body id="google_translate_element">
<%- include('partials/nav'); -%>

<div class="recipes_container">
    <h2>Oferty i rabaty:</h2>
    <br>

    <div class="card-group">
        
        <div class="card mb-3 discounts_card" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="imgs/mydevil.png" class="img-fluid rounded-start" alt="my devil hosting">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Hosting</small></p>
                  <h5 class="card-title">MyDevil - Profesjonalny hosting dla firm</h5>
                  <p class="card-text color">20% zniżki na usługi</p>
                    <p>
                        Kod należy podać przy tworzeniu nowego zamówienia (w momencie wyboru usługi, pakietu i podawaniu loginu) w polu formularza o nazwie „Kod polecającego”.
                    </p>
                  <p class="card-text"><small class="text-muted">ZP7ACW3HN2</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 discounts_card" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="imgs/acai_1.jpg" class="img-fluid rounded-start" alt="odchudzanie acai">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                <p class="card-text"><small class="text-muted">Odchudzanie</small></p>
                  <h5 class="card-title">Acai Berry Extreme</h5>
                  <p class="card-text">Acai Berry Extreme to absolutnie jeden z najlepszych preparatów wspomagających odchudzanie. Produkt zawiera w jednej kapsułce aż 5000 mg jagody acai. Dzięki temu skutecznie wspomaga zrzucanie niepotrzebnych kilogramów.</p>
                  <button class="btn btn-md btn-light button_login"><a href="https://nplink.net/h815ehwi">Odwiedź stronę</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 discounts_card" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="imgs/detoxyn_pro.jpg" class="img-fluid rounded-start" alt="Detoxyn oczyszczanie organizmu">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                <p class="card-text"><small class="text-muted">Oczyszczanie organizmu</small></p>
                  <h5 class="card-title">Detoxyn</h5>
                  <p class="card-text">Detoxyn pomaga zwalczyć chroniczne zmęczenie, zwiększa odporność organizmu oraz łagodzi objawy alergii. Suplement w skuteczny sposób poprawia komfort trawienny oraz odświeża oddech. Dodatkowo, Detoxyn zapobiega gromadzeniu się tłuszczu w wątrobie oraz usprawnia jego wydalanie.</p>
                  <button class="btn btn-md btn-light button_login"><a href="https://nplink.net/h815ehwi">Odwiedź stronę</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3 discounts_card" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="imgs/Revamin-Stretch-Mark.jpg" class="img-fluid rounded-start" alt="Revamin Stretch Mark Rozstępy">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                <p class="card-text"><small class="text-muted">Rozstępy</small></p>
                  <h5 class="card-title">Revamin Stretch Mark</h5>
                  <p class="card-text">Revamin Stretch Mark to nowoczesny krem, który pomaga zmniejszyć widoczność rozstępów. Kosmetyk zawiera wyciągi, witaminy oraz olejki, które poprawiają kondycję skóry na brzuchu, udach, pośladkach i ramionach. Naturalna formuła produktu sprawia, że jest on bezpieczny dla skóry i nie powoduje efektów ubocznych.</p>
                  <button class="btn btn-md btn-light button_login"><a href="https://nplink.net/3m3lz1y1">Odwiedź stronę</a></button>
                </div>
              </div>
            </div>
          </div>

      </div>
</div>


<%- include('partials/footer'); -%>