<%- include('partials/header'); -%>
<title>Zniżki i rabaty - Cookbook</title>
<meta name="description" content="Oszczędzaj z naszymi najnowszymi ofertami i zniżkami! Znajdziesz u nas wiele okazji na zakupy z niesamowitymi rabatami. Odkryj naszą ofertę zniżek i zaoszczędź już dzisiaj!">
</head>
<body id="google_translate_element">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDZ84VJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<%- include('partials/nav'); -%>

<div class="recipes_container discounts">
    <h2>Oferty i rabaty:</h2>
    <br>

    <div class="card-group">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="imgs/mydevil.png" class="img-fluid rounded-start" alt="my devil hosting">
                <div class="card-body">
                    <p class="card-text"><small class="badge bg-secondary">Hosting</small></p>
                    <h4 class="card-title">MyDevil - Profesjonalny hosting dla firm</h4>
                    <p class="card-text color">20% zniżki na usługi</p>
                    <p class="card-describe">Kod należy podać przy tworzeniu nowego zamówienia (w momencie wyboru usługi, pakietu i podawaniu loginu) w polu formularza o nazwie „Kod polecającego”.</p>
                    <div class="card-footer">ZP7ACW3HN2</div>
                </div>
              </div>
            </div>

            <div class="col">
                <div class="card">
                  <a href="https://webep1.com/go/d6711a4897" target="_blank"><img src="imgs/bee.svg" class="img-fluid rounded-start" alt="bee.pl"></a>
                  <div class="card-body">
                      <p class="card-text"><small class="badge bg-secondary">Sklep internetowy</small></p>
                      <h4 class="card-title">bee.pl</h4>
                      <p class="card-describe">
                        Znajdź wszystko, czego potrzebujesz w delikatesach BeeBee.pl to delikatesy spożywcze, w których zaopatrzysz się w zdrową żywność, suplementy diety, naturalne kosmetyki… i nie tylko! Sklep oferuje także różne produkty dla mam i dzieci, książki, a także akcesoria do domu i ogrodu. 
                      </p>
                      <button class="btn btn-md btn-light button_login"><a href="https://webep1.com/go/d6711a4897" target="_blank">Odwiedź stronę</a></button>
                  </div>
                </div>
            </div>

            <div class="col">
              <div class="card">
                <a href="https://webep1.com/c/12631/63ea6aaa9a1a8b359a5fa10d" target="_blank"><img src="imgs/marketbio.jpg" class="img-fluid rounded-start" alt="bee.pl"></a>
                <div class="card-body">
                    <p class="card-text"><small class="badge bg-secondary">Sklep internetowy</small></p>
                    <h4 class="card-title">Marketbio</h4>
                    <p class="card-describe">
                      Zdrowie jest bezcenne. Im szybciej wdrożymy zdrowe odżywianie, tym większa szanse na długie i zdrowe życie. Dlatego zapoznaj się z ofertą sklepu MarketBio i zadbaj o swoje zdrowie już dziś!Marketbio.pl z pasji do zdrowej żywności i ekologiiSklep internetowy MarketBio powstał w 2012 roku
                    </p>
                    <button class="btn btn-md btn-light button_login"><a href="https://webep1.com/c/12631/63ea6aaa9a1a8b359a5fa10d" target="_blank">Odwiedź stronę</a></button>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img src="imgs/acai_1.jpg" class="img-fluid rounded-start" alt="odchudzanie acai">
                <div class="card-body">
                    <p class="card-text"><small class="badge bg-secondary">Odchudzanie</small></p>
                    <h4 class="card-title">Acai Berry Extreme</h4>
                    <p class="card-describe">Acai Berry Extreme to absolutnie jeden z najlepszych preparatów wspomagających odchudzanie. Produkt zawiera w jednej kapsułce aż 5000 mg jagody acai. Dzięki temu skutecznie wspomaga zrzucanie niepotrzebnych kilogramów.</p>
                    <button class="btn btn-md btn-light button_login"><a href="https://nplink.net/h815ehwi" target="_blank">Odwiedź stronę</a></button>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img src="imgs/Detoxyn_pro.jpg" class="img-fluid rounded-start" alt="Detoxyn oczyszczanie organizmu">
                <div class="card-body">
                    <p class="card-text"><small class="badge bg-secondary">Oczyszczanie organizmu</small></p>
                    <h4 class="card-title">Detoxyn</h4>
                    <p class="card-describe">Detoxyn pomaga zwalczyć chroniczne zmęczenie, zwiększa odporność organizmu oraz łagodzi objawy alergii. Suplement w skuteczny sposób poprawia komfort trawienny oraz odświeża oddech. Dodatkowo, Detoxyn zapobiega gromadzeniu się tłuszczu w wątrobie oraz usprawnia jego wydalanie.</p>
                    <button class="btn btn-md btn-light button_login"><a href="https://nplink.net/h815ehwi" target="_blank">Odwiedź stronę</a></button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="imgs/Revamin-Stretch-Mark.jpg" class="img-fluid rounded-start" alt="Revamin Stretch Mark Rozstępy">
                <div class="card-body">
                    <p class="card-text"><small class="badge bg-secondary">Rozstępy</small></p>
                    <h4 class="card-title">Revamin Stretch Mark</h4>
                    <p class="card-describe">Revamin Stretch Mark to nowoczesny krem, który pomaga zmniejszyć widoczność rozstępów. Kosmetyk zawiera wyciągi, witaminy oraz olejki, które poprawiają kondycję skóry na brzuchu, udach, pośladkach i ramionach. Naturalna formuła produktu sprawia, że jest on bezpieczny dla skóry i nie powoduje efektów ubocznych.</p>
                    <button class="btn btn-md btn-light button_login"><a href="https://nplink.net/3m3lz1y1" target="_blank">Odwiedź stronę</a></button>
                </div>
              </div>
            </div>
          </div>

      </div>
</div>


<%- include('partials/footer'); -%>