<%- include('partials/header'); -%>
<title>Przepisy na sałatki - BookToCook</title>
</head>
<body id="google_translate_element">
<%- include('partials/nav'); -%>

<div class="recipes_container container-fluid-mobile">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Główna</a></li>
          <li class="breadcrumb-item active" aria-current="page">Sałatki</li>
        </ol>
    </nav>

    <%- include('partials/recipe'); -%>

</div>

<%- include('partials/footer'); -%>