@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sortsmillgoudy/v10/Qw3GZR9MED_6PSuS_50nEaVrfzgEXH0.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f0ef;
  font-family: 'Sorts Mill Goudy', serif;
}
h1,
.color {
  color: #c82145;
}
.breadcrumb {
  font-size: 1.5em;
  margin-left: 2em;
}
.breadcrumb .breadcrumb-item a {
  color: #c82145;
}
.btn_favorite:hover {
  color: #c82145;
}
.user_icons .fas {
  margin-left: 10px;
  font-size: 1.5em;
  color: #3769a3;
  transition: all 0.3s linear;
}
.user_icons .fas:hover {
  color: #c82145;
}
.pagination {
  justify-content: center;
}
.pagination li {
  padding: 0.2em;
}
.pagination li a {
  color: #000;
  text-decoration: none;
  font-size: 1.3em;
}
.pagination li a:hover {
  color: #c82145;
}
.active {
  color: #c82145;
}
.none {
  display: none;
}
.navbar {
  background-color: #fff;
  padding: 0;
}
.navbar .nav-link {
  color: #000;
  font-size: 19px;
  font-weight: 600;
  transition: color 0.5s linear;
}
.navbar .nav-link:hover {
  color: #c82145 !important;
}
.navbar .navbar-brand {
  padding: 0;
}
img[alt="logo"] {
  width: 100px;
  height: auto;
}
.navbar-brand {
  color: #000;
}
.navbar-collapse {
  text-align: center;
}
.dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #c82145;
}
.dropdown-item {
  text-align: center;
}
#category {
  margin-top: 17%;
  text-align: center;
}
#category p {
  font-size: 21px;
}
#category ul {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
#category ul a {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
  display: inline-block;
  transition: 0.4 all ease;
  line-height: 45px;
  text-align: center;
}
#category ul li {
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 10px;
  display: flex;
  flex-flow: column-reverse;
}
#category ul li:hover {
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  transition: 0.4s all ease;
}
#category ul li span {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
#category ul a:nth-child(2) li {
  background-image: url("/imgs/icons/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#category ul a:nth-child(3) li {
  background-image: url("/imgs/icons/cupcakes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#category ul a:nth-child(4) li {
  background-image: url("/imgs/icons/kids.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#category ul a:nth-child(5) li {
  background-image: url("/imgs/icons/latte.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#category ul a:nth-child(6) li {
  background-image: url("/imgs/icons/salad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#category ul a:nth-child(7) li {
  background-image: url("/imgs/icons/soup2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#category ul a:nth-child(8) li {
  background-image: url("/imgs/icons/canape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#category ul a:nth-child(9) li {
  background-image: url("/imgs/icons/yogurt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#category ul a:nth-child(1) li {
  background-image: url("/imgs/icons/all.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#main_background {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 10%;
}
#main_banner {
  width: 100%;
  padding: 8%;
  text-align: center;
}
#button_search {
  background-color: #fff;
  border: 1px solid #ccc;
}
#button_search:hover {
  color: #c82145;
}
#recipe_of_the_day {
  padding: 2%;
  text-align: center;
  margin-top: 5em;
}
#recipe_of_the_day .card_random {
  width: 16em;
  margin: 0 auto;
}
.recipes_container {
  padding-top: 25%;
  text-align: center;
}
.recipes_container .recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2em;
}
.card {
  width: 17rem;
  margin: 15px;
  text-align: center;
  overflow: hidden;
}
.card img {
  transition: all 0.3s linear;
  position: relative;
}
.card:hover img {
  cursor: pointer;
}
.card .card-img-top {
  transition: all 0.3s ease;
}
.card:hover .card-img-top {
  transform: scale(0.95);
}
.card img {
  height: 195px;
  position: relative;
}
.card a {
  text-decoration: none;
}
.card .card-body {
  background-color: #fff;
  color: #000;
}
.card-text,
.info_of_recipe {
  display: flex;
  justify-content: space-evenly;
}
.recipe_container {
  padding-top: 6em;
}
.recipe_container p {
  font-size: 1.3em;
}
.recipe_container #notes {
  margin: 1em 1em 2em 2em;
}
.recipe_container .banner {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
}
.recipe_container .banner img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.recipe_container .banner .photo_description {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.recipe_container .banner .photo_description h2 {
  margin-top: 2%;
}
.recipe_container #recipe_container_description {
  margin: 1em;
}
.recipe_container #recipe_container_description .when_added {
  font-size: 11px;
  padding: 1em;
}
.recipe_container #recipe_container_description .when_added .alert {
  text-align: center;
}
.recipe_container #recipe_container_description #ingredients input:checked + span {
  text-decoration: line-through;
  text-decoration-color: #c82145;
}
.recipe_container #recipe_container_description #ingredients input[type="checkbox"] {
  margin-right: 15px;
}
.recipe_container #recipe_container_description ul li,
.recipe_container #recipe_container_description .ingredient_style {
  font-size: 20px;
}
.enter {
  white-space: pre-wrap;
}
form {
  margin: 1em;
}
form .form-detail {
  margin-top: 2em;
}
form #add_submit {
  margin: 0 auto;
  margin-top: 1em;
  display: block;
  background-color: #c82145;
  color: #fff;
}
form h1 {
  text-align: center;
}
#add_new_recipe {
  padding-top: 25%;
}
#add_new_recipe h1 {
  margin: 1em;
}
.alert-info {
  margin: 3em;
}
.input_ingr {
  margin-top: 1em;
}
textarea {
  height: 10em !important;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ccc;
}
.login_form {
  padding: 4em;
}
.button_login {
  transition: all 0.3s linear;
}
.button_login:hover {
  color: #c82145;
}
.wrapper {
  padding-top: 5em;
  text-align: center;
}
.wrapper .sidebar {
  width: 100%;
  padding-top: 3em;
}
.wrapper .sidebar p {
  padding: 1em;
}
.wrapper .cookbook {
  margin-top: 4em;
  padding: 0;
}
.wrapper .cookbook p {
  font-size: 1.3em;
  padding: 5%;
}
.wrapper .cookbook .recipes {
  margin-top: 0;
}
.wrapper .overall_buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.wrapper .overall_buttons .delete_button {
  border: none;
  padding: 5px;
  color: #8f0303;
  transition: all 0.3s linear;
  background-color: #f9fafb;
  width: 30%;
  border-radius: 5%;
}
.wrapper .overall_buttons .delete_button:hover {
  color: #f70303;
}
.wrapper .overall_buttons .btn-light a {
  color: #3783a3;
}
.wrapper .overall_buttons .btn-light a:hover {
  color: #3769a3;
}
.add_button {
  background-color: #c82145;
  color: #fff;
  padding: 4px;
  outline: none;
  text-decoration: none;
  border-radius: 5% 5%;
  transition: all 0.3s linear;
}
.add_button:hover {
  background-color: #d34b68;
  color: #fff;
}
.box {
  padding: 0.8em;
  font-size: 1.3em;
}
.box .shopping_list {
  text-align: left;
  padding-left: 20%;
}
.box h2 {
  color: #c82145;
  padding-top: 2em;
}
.box .item .item_list {
  margin: 0;
  padding: 0em 0.8em;
}
.box input[name='newItem'] {
  outline: none;
  padding: 1px;
}
.box .checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}
.box .checkbox > input {
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #34495E;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;
}
.box .checkbox > input:checked {
  border: 1px solid #c82145;
}
.box .checkbox > input:checked + p {
  text-decoration: line-through;
}
.box .checkbox > input:checked + p::before {
  content: '\2714';
  display: block;
  text-align: center;
  color: #41B883;
  position: absolute;
  left: 0.3rem;
  top: 0;
}
.box .checkbox > input:active {
  border: 2px solid #34495E;
}
footer {
  font-size: 0.8rem;
  padding: 1.2em;
  background: linear-gradient(90deg, #000, #fff, #c82145, #fff, #000);
  letter-spacing: 1px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 25s linear infinite;
  position: relative;
}
@media (max-width: 425px) {
  .recipes_container {
    padding-top: 38%;
  }
  .style-shop-list {
    padding: 0;
  }
  .style-shop-list h2 {
    padding: 0;
  }
  .box .shopping_list {
    padding-left: 11%;
  }
  #main_background {
    padding-top: 25%;
  }
  .login_form {
    padding: 0;
  }
  .item .addToShoppingList {
    margin-top: 1em;
  }
}
@media (min-width: 750px) and (max-width: 960px) {
  .box .shopping_list {
    padding-left: 30%;
  }
  .login {
    flex-direction: column;
    width: 100vh;
    margin: 0 auto;
  }
}
@media (min-width: 961px) {
  #main_background {
    flex-direction: row;
    padding-top: 5em;
    justify-content: center;
  }
  #main_banner {
    width: 35%;
    padding: 3%;
  }
  #main_banner p {
    font-size: 1.3em;
  }
  .main_img {
    -webkit-clip-path: polygon(100% 0%, 90% 52%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 90% 52%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    margin-top: 1em;
  }
  .alert-info {
    margin-bottom: 4em;
  }
  .login-margin-top {
    justify-content: center;
    padding-top: 1em;
  }
  .navbar {
    height: 5em;
  }
  .overall_recipe_margin {
    display: flex;
    width: 95%;
    margin: 0 auto;
  }
  .overall {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .overall h1 {
    padding-top: 0;
  }
  .overall #category,
  .overall #recipe_of_the_day {
    margin-top: 10%;
  }
  #ingredients {
    width: 30%;
  }
  #category {
    width: 70%;
    padding: 2em;
    background: rgba(255, 255, 255, 0.9);
  }
  #recipe_of_the_day {
    padding: 2em 4em;
    background: rgba(255, 255, 255, 0.9);
  }
  .recipes_container {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    padding-top: 0;
  }
  .recipes_container h1 {
    padding-top: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
  }
  .recipes_container .recipes {
    background: rgba(255, 255, 255, 0.9);
    padding-bottom: 3em;
  }
  .recipes_container .recipes .card {
    width: 14rem;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  }
  .recipe_container {
    width: 90%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9) !important;
  }
  .recipe_container .banner {
    margin: 0;
    width: 50%;
  }
  .recipe_container #notes {
    width: 43%;
    font-size: 19px;
    display: flex;
    align-items: center;
  }
  .recipe_container p {
    font-size: 1.2em;
  }
  .container {
    display: flex;
    margin-top: 1em;
  }
  .container #preparation {
    margin-left: 4em;
    font-size: large;
    width: 100%;
  }
  .form_detail {
    width: 100%;
    margin-left: 1em;
  }
  #add_new_recipe {
    width: 60%;
    margin: 0 auto;
    padding: 1px 7em 4em 5em;
    background: rgba(255, 255, 255, 0.9);
  }
  #add_new_recipe h1 {
    margin: 4em 0em 1em;
  }
  #add_new_recipe .textarea {
    height: 10em;
  }
  #add_new_recipe #add_submit {
    font-size: 24px;
    transition: opacity 0.3s linear;
  }
  #add_new_recipe #add_submit:hover {
    opacity: 0.9;
  }
  .breadcrumb {
    padding-top: 4em;
  }
  fieldset {
    padding-top: 6em;
  }
  .container-fluid-mobile {
    height: 100%;
    background: none;
  }
  .login_form {
    padding: 1em;
  }
  .when_added .alert {
    width: 25%;
  }
  .box .shopping_list {
    padding-left: 40%;
  }
  .register input {
    width: 18.9em;
  }
  .wrapper {
    display: flex;
    width: 100%;
    margin-top: 4em;
    min-height: 42em;
  }
  .wrapper .sidebar {
    width: 22%;
    background: #fff;
    position: fixed;
    height: 100%;
    top: 5em;
    left: 0;
    z-index: 3;
  }
  .wrapper .sidebar .add_button {
    display: block;
    margin-top: 1em;
  }
  .wrapper .sidebar p {
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .wrapper .recipes {
    background: none;
  }
  .wrapper .cookbook {
    margin-left: 18em;
    margin-top: 0;
  }
  .wrapper .cookbook .card {
    width: 14rem;
  }
  .wrapper .cookbook .card h4 {
    font-size: 1.2em;
    color: #3769a3;
  }
  .wrapper .cookbook .card-text span {
    font-size: 0.8em;
  }
  .wrapper .cookbook img {
    height: 10em;
  }
  .wrapper .cookbook .overall_buttons button {
    width: 100%;
    font-size: 0.8em;
  }
}
