<%- include('../partials/header'); -%>
<%- include('../partials/nav'); -%>

<h1 class="newsletter_message">Dziękujemy za zapisanie się do naszego newslettera! Możesz potwierdzić subskrypcję klikając na link aktywacyjny w swojej skrzynce email :)</h1>

<%- include('../partials/footer'); -%>