<%- include('../partials/header'); -%>
<%- include('../partials/nav'); -%>

<h1 class="newsletter_message">
    Dziękujemy za zapisanie się do naszego newslettera! 😊
</h1>

<p class="redirect">
    <a href="/">Powrót do strony głównej</a>
</p>

<%- include('../partials/footer'); -%>